﻿body {
    
}
.HeadBorder {
    border: solid #0761ee 5px;
    padding: 10px;
    text-align: center;
    background-color: #0fabfa;
}
    .HeadBorder tr td {
        
    }
.headerText{
    font-family:'Microsoft Himalaya';
    font-size:80px;
    
}
.border {
    border: solid #0761ee 15px;
    padding: 5px;
}
.navBack ul li a{
    background-color:#0761ee;
    color:white;
    font-weight:bold;
    font-family:'Microsoft Himalaya';
    font-size:30px;
}
.navBack ul li a:hover{
    background-color:blue;
}
